<template>
  <div class="classes">
    <h1 class="title">Classes</h1>
    <h2 class="subtitle">
      Classes you can choose for your character
    </h2>
    <b-tabs type="is-toggle" @change="changeActiveClass">
      <b-tab-item :key="key" v-for="(object, key) in classes" :label="key">
        <b-table
          narrowed
          bordered
          hoverable
          striped
          :mobile-cards="false"
          :data="object.data"
          :columns="object.columns"
        ></b-table>

        <b-field class="is-hidden-mobile">
          <b-radio-button
            :key="subclass"
            v-for="subclass in object.subclasses"
            v-model="activeSubclass[key]"
            :native-value="subclass"
            @input="changeSubclass"
            type="is-primary"
            ><span>{{ subclass }}</span>
          </b-radio-button>
        </b-field>

        <div class="columns">
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="content"><h1>General</h1></div>
                <div class="content" v-html="marked(object.general)"></div>
                <hr />
                <b-collapse :open="false">
                  <div slot="trigger" slot-scope="props">
                    <div class="content">
                      <h1>
                        Info
                        <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                      </h1>
                    </div>
                  </div>
                  <div class="content" v-html="marked(object.info)"></div>
                </b-collapse>
              </div>
            </div>
          </div>

          <b-field class="is-hidden-tablet">
            <b-radio-button
              :key="subclass"
              v-for="subclass in object.subclasses"
              v-model="activeSubclass[key]"
              :native-value="subclass"
              @input="changeSubclass"
              type="is-primary"
              ><span>{{ subclass }}</span>
            </b-radio-button>
          </b-field>

          <div class="column">
            <div class="card">
              <div class="card-content">
                <div class="content"><h1>Class Features</h1></div>
                <div
                  class="content"
                  v-html="marked(object.classFeatures)"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import classes from "../data/classes/Classes.js";
import marked from "../utilities/marked";

let activeSubclass = {};
for (const c in classes) {
  if (classes[c].subclasses.length > 0) {
    activeSubclass[c] = classes[c].subclasses[0];
  }
}

export default {
  name: "home",
  mounted() {
    document
      .querySelectorAll(".content div.gallery img")
      .forEach((e) => e.addEventListener("click", this.modal));
    this.changeActiveClass(0);
  },
  methods: {
    modal(event) {
      this.$buefy.modal.open(`<img src="${event.target.src}">`);
    },
    marked,
    changeSubclass() {
      document
        .querySelectorAll(".content div:not(.gallery)")
        .forEach((e) => (e.style.display = "none"));
      document
        .querySelectorAll(".content div:not(.gallery)")
        .forEach((e) => (e.style.display = "none"));

      let subclassKey = this.activeSubclass[
        Object.keys(this.classes)[this.activeClassIndex]
      ];

      if (!subclassKey) {
        return;
      }

      subclassKey = subclassKey.replace(/ /g, "-").toLowerCase();
      document
        .querySelectorAll(".content div." + subclassKey)
        .forEach((e) => (e.style.display = "block"));
    },
    changeActiveClass(index) {
      this.activeClassIndex = index;
      this.changeSubclass();
    },
  },
  data() {
    return {
      activeClassIndex: 0,
      classes,
      activeSubclass,
    };
  },
};
</script>

<style lang="scss" scoped>
.field.has-addons {
  margin: 1rem 0;
  justify-content: center;
}

@media screen and (max-width: 769px) {
  .columns {
    margin-top: 1rem;
  }

  .field.has-addons {
    margin: 0.75rem 0.75rem 0.5rem;
    flex-direction: column;
    .control {
      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      ::v-deep .radio {
        border-radius: 0;
      }
    }
  }
}

.columns {
  .content {
    margin-bottom: 0;

    ::v-deep {
      > div:not(.gallery) {
        display: none;
      }

      div {
        margin-top: 1rem;
      }

      p {
        -moz-hyphens: auto;
        hyphens: auto;
      }

      .gallery {
        font-size: 0;
        margin: 0 -0.25rem;

        figure {
          &:nth-child(3n + 1) {
            padding-left: 0.5rem;
            padding-right: 0.25rem;
          }

          &:nth-child(3n + 2) {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
          }

          &:nth-child(3n + 3) {
            padding-left: 0.25rem;
            padding-right: 0.5rem;
          }

          width: 33.33%;
          margin-bottom: 0.5rem;
          height: 10rem;
          object-fit: cover;
          display: inline-block;
          cursor: pointer;
          position: relative;
          height: 0;
          padding-top: 45%;
        }

        img {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          padding: 0 0.25rem;
          object-fit: cover;
        }
      }
    }

    &:not(:first-child) {
      h1 {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid black;
      }
    }
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}
</style>
