<template>
  <div class="spells is-size-6">
    <h1 class="title">Equipment</h1>
    <h2 class="subtitle">
      List of all available equipment
    </h2>
    <section class="section">
      <h3 class="subtitle is-3">Weapons</h3>
      <b-field>
        <b-input
          icon="magnify"
          type="search"
          v-model="weaponSearchValue"
          placeholder="Search..."
        ></b-input>
      </b-field>
      <b-table
        narrowed
        bordered
        hoverable
        striped
        :show-detail-icon="false"
        :mobile-cards="false"
        :data="filteredWeapons"
        default-sort-direction="asc"
        default-sort="name"
      >
        <template slot-scope="props">
          <b-table-column field="name" label="Name" sortable>
            {{ props.row.name }}
          </b-table-column>
          <b-table-column field="category" label="Category" sortable>
            {{ props.row.category }}
          </b-table-column>
          <b-table-column field="requirements" label="STR req." sortable>
            {{ nullChecking(props.row.requirements) }}
          </b-table-column>
          <b-table-column field="damage" label="Damage" sortable>
            {{ props.row.damage }}
          </b-table-column>
          <b-table-column field="damageType" label="Damage Type" sortable>
            {{ props.row.damageType }}
          </b-table-column>
          <b-table-column field="range" label="Range" sortable>
            {{ nullChecking(props.row.range) }}
          </b-table-column>
          <b-table-column field="properties" label="Properties" sortable>
            {{ props.row.properties ? props.row.properties.join(",") : "-" }}
          </b-table-column>
        </template>
        <template slot="empty">
          <section class="section">
            <div class="content has-text-grey has-text-centered">
              <p>
                <b-icon icon="emoticon-sad" size="is-large"> </b-icon>
              </p>
              <p>There are no weapons for these filters.</p>
            </div>
          </section>
        </template>
      </b-table>
    </section>

    <section class="section">
      <h3 class="subtitle is-3">Armor</h3>
      <b-field>
        <b-input
          icon="magnify"
          type="search"
          v-model="armorSearchValue"
          placeholder="Search..."
        ></b-input>
      </b-field>
      <b-table
        narrowed
        bordered
        hoverable
        striped
        :show-detail-icon="false"
        :mobile-cards="false"
        :data="filteredArmor"
        default-sort-direction="asc"
        default-sort="name"
      >
        <template slot-scope="props">
          <b-table-column field="name" label="Name" sortable>
            {{ props.row.name }}
          </b-table-column>
          <b-table-column field="category" label="Category" sortable>
            {{ props.row.category }}
          </b-table-column>
          <b-table-column field="requirements" label="STR req." sortable>
            {{ nullChecking(props.row.requirements) }}
          </b-table-column>
          <b-table-column field="ac" label="AC" sortable>
            {{ props.row.ac }}
          </b-table-column>
          <b-table-column field="stealth" label="Stealth" sortable>
            {{ nullChecking(props.row.stealth) }}
          </b-table-column>
        </template>
        <template slot="empty">
          <section class="section">
            <div class="content has-text-grey has-text-centered">
              <p>
                <b-icon icon="emoticon-sad" size="is-large"> </b-icon>
              </p>
              <p>There is no armor for these filters.</p>
            </div>
          </section>
        </template>
      </b-table>
    </section>
  </div>
</template>

<script>
import weapons from "../data/equipment/weapons.js";
import armor from "../data/equipment/armor.js";
import _ from "lodash";

export default {
  name: "Equipment",
  data() {
    return {
      weaponSearchValue: "",
      armorSearchValue: "",
      weapons,
      armor,
      openRows: [],
    };
  },
  methods: {
    nullChecking(value) {
      if (value) {
        return value;
      }

      return "-";
    },
  },
  computed: {
    filteredWeapons() {
      return this.weapons.filter((weapon) => {
        return (
          weapon.name
            .toLowerCase()
            .indexOf(this.weaponSearchValue.toLowerCase()) >= 0
        );
      });
    },
    filteredArmor() {
      return this.armor.filter((armor) => {
        return (
          armor.name
            .toLowerCase()
            .indexOf(this.armorSearchValue.toLowerCase()) >= 0
        );
      });
    },
  },
};
</script>

<style scoped lang="scss">
@media screen and (max-width: 769px) {
  .spells div.field.has-addons {
    flex-wrap: wrap;
    margin-bottom: 0;
    div.control {
      width: 100%;
      margin-bottom: 1rem;
      ::v-deep input.input {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}
</style>
