<template>
  <div class="feats is-size-6">
    <h1 class="title">Feats</h1>
    <h2 class="subtitle">
      List of all available feats
    </h2>
    <b-field>
      <b-input
        icon="magnify"
        type="search"
        v-model="searchValue"
        placeholder="Search..."
      />
      <p class="control">
        <span class="button is-static">ASI</span>
      </p>
      <p class="control">
        <b-select v-model="asiFilter" placeholder="ASI">
          <option :value="-1">Any</option>
          <option
            :key="ability"
            v-for="ability in abilities"
            :value="ability"
            >{{ ability }}</option
          >
        </b-select>
      </p>
    </b-field>
    <b-table
      ref="featTable"
      narrowed
      bordered
      hoverable
      striped
      detailed
      detail-key="name"
      :show-detail-icon="false"
      :mobile-cards="false"
      :data="sortedAndFilteredFeats"
      :row-class="getRowKey"
      :opened-detailed="openRows"
      @click="toggle"
    >
      <template slot-scope="props">
        <b-table-column field="name" label="Name">
          {{ props.row.name }}
        </b-table-column>
        <b-table-column field="asi" label="ASI">
          <template v-if="props.row.asi == 'any'">
            Any
          </template>
          <template v-else>
            {{ listify(props.row.asi, { finalWord: "or" }) }}
          </template>
        </b-table-column>
        <b-table-column field="prerequisite" label="Prerequisite">
          {{ props.row.prerequisite }}
        </b-table-column>
      </template>
      <template slot="detail" slot-scope="props">
        <div class="content">
          <h2>{{ props.row.name }}</h2>
          <em>Prerequisite: {{ props.row.prerequisite }}</em>
          <ul>
            <li>{{ getAsiString(props.row.asi) }}</li>
            <li :key="row" v-for="row in props.row.description">{{ row }}</li>
          </ul>
          <div
            v-if="props.row.markdown"
            v-html="marked(props.row.markdown)"
          ></div>
        </div>
      </template>
      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"> </b-icon>
            </p>
            <p>There are no feats for these filters.</p>
          </div>
        </section>
      </template>
    </b-table>
  </div>
</template>

<script>
import feats from "../data/feats/feats.js";
import listify from "listify";
import marked from "../utilities/marked";
import _ from "lodash";

export default {
  name: "Feats",
  mounted() {
    const hash = location.hash.substr(1);

    if (hash) {
      for (const feat of feats) {
        if (hash == this.getRowKey(feat)) {
          this.$refs.featTable.toggleDetails(feat);
          document.getElementsByClassName(hash)[0].scrollIntoView();
        }
      }
    }
  },
  methods: {
    getRowKey(value) {
      const name = value.name ? value.name : value;
      return name.replace(/ /g, "-").toLowerCase();
    },
    toggle(row) {
      for (const rowIndex in this.openRows) {
        if (this.getRowKey(this.openRows[rowIndex]) !== this.getRowKey(row)) {
          this.$refs.featTable.closeDetailRow(rowIndex);
        }
      }

      this.$refs.featTable.toggleDetails(row);
    },
    getAsiString(asi) {
      if (asi === "any") {
        return "Increase one of your ability scores by 1, to a maximum of 20.";
      }

      const asiList = this.listify(asi, { finalWord: "or" });
      return `Increase your ${asiList} by 1, to a maximum of 20.`;
    },
    listify,
    marked,
  },
  data() {
    return {
      searchValue: "",
      asiFilter: -1,
      abilities: [
        "Strength",
        "Dexterity",
        "Constitution",
        "Intelligence",
        "Wisdom",
        "Charisma",
      ],
      feats,
      openRows: [],
    };
  },
  computed: {
    sortedAndFilteredFeats() {
      let filteredFeats = this.feats.filter((feat) => {
        return (
          feat.name.toLowerCase().indexOf(this.searchValue.toLowerCase()) >= 0
        );
      });

      if (this.asiFilter !== -1) {
        filteredFeats = filteredFeats.filter(
          (feat) => feat.asi === "any" || feat.asi.includes(this.asiFilter)
        );
      }

      return _.orderBy(filteredFeats, "name");
    },
  },
};
</script>

<style scoped lang="scss">
@media screen and (max-width: 769px) {
  .spells div.field.has-addons {
    flex-wrap: wrap;
    margin-bottom: 0;
    div.control {
      width: 100%;
      margin-bottom: 1rem;
      ::v-deep input.input {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

.content {
  table {
    width: auto;
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 0;
  }

  h2 + em {
    display: block;
    margin-bottom: 1rem;
  }
}
</style>
