<template>
  <div class="spells is-size-6">
    <h1 class="title">Items</h1>
    <h2 class="subtitle">
      List of all items
    </h2>
    <section class="section">
      <b-field>
        <b-input
          icon="magnify"
          type="search"
          v-model="searchValue"
          placeholder="Search..."
        ></b-input>
      </b-field>
      <b-table
        narrowed
        bordered
        hoverable
        striped
        :show-detail-icon="false"
        :mobile-cards="false"
        :data="filteredItems"
        default-sort-direction="asc"
        default-sort="name"
      >
        <template slot-scope="props">
          <b-table-column field="name" label="Name" sortable>
            {{ props.row.name }}
          </b-table-column>
          <b-table-column field="category" label="Category" sortable>
            {{ props.row.category }}
          </b-table-column>
          <b-table-column field="weight" label="Weight" sortable>
            {{ props.row.weight }} lb.
          </b-table-column>
          <b-table-column field="cost" label="Cost" sortable>
            {{ props.row.cost }}
          </b-table-column>
          <b-table-column field="description" label="Description" sortable>
            <p :key="row" v-for="row in props.row.description">{{ row }}</p>
          </b-table-column>
        </template>
        <template slot="empty">
          <section class="section">
            <div class="content has-text-grey has-text-centered">
              <p>
                <b-icon icon="emoticon-sad" size="is-large"> </b-icon>
              </p>
              <p>There are no items for these filters.</p>
            </div>
          </section>
        </template>
      </b-table>
    </section>
  </div>
</template>

<script>
import items from "../data/items/items.js";
import _ from "lodash";

export default {
  name: "Items",
  data() {
    return {
      searchValue: "",
      items,
    };
  },
  methods: {
    nullChecking(value) {
      if (value) {
        return value;
      }

      return "-";
    },
  },
  computed: {
    filteredItems() {
      return this.items.filter((item) => {
        return (
          item.name.toLowerCase().indexOf(this.searchValue.toLowerCase()) >= 0
        );
      });
    },
  },
};
</script>

<style lang="scss">
table p:not(:last-child) {
  padding-bottom: 10px;
}
</style>
