<template>
  <div class="spells is-size-6">
    <h1 class="title">Races</h1>
    <h2 class="subtitle">
      Races for your character
    </h2>
    <b-tabs type="is-toggle">
      <b-tab-item :key="key" v-for="(race, key) in races" :label="key">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <h1>{{ key }}</h1>
              <div v-html="marked(race)"></div>
            </div>
          </div></div></b-tab-item
    ></b-tabs>
  </div>
</template>

<script>
import marked from "../utilities/marked";

import Aarakocra from "../data/races/aarakocra.md";
import Aasimar from "../data/races/aasimar.md";
import Changeling from "../data/races/changeling.md";
import Dragonborn from "../data/races/dragonborn.md";
import Dwarf from "../data/races/dwarf.md";
import Elf from "../data/races/elf.md";
import Genasi from "../data/races/genasi.md";
import Gnome from "../data/races/gnome.md";
import Goliath from "../data/races/goliath.md";
import Halfling from "../data/races/halfling.md";
import Human from "../data/races/human.md";
import Lizardfolk from "../data/races/lizardfolk.md";
import Minotaur from "../data/races/minotaur.md";
import Orc from "../data/races/orc.md";
import Shifter from "../data/races/shifter.md";
import Tiefling from "../data/races/tiefling.md";

export default {
  name: "Races",
  mounted() {
    document
      .querySelectorAll(".content div.gallery img")
      .forEach((e) => e.addEventListener("click", this.modal));
  },
  methods: {
    modal(event) {
      this.$buefy.modal.open(`<img src="${event.target.src}">`);
    },
    marked,
  },
  data() {
    return {
      selectedRace: "Aarakocra",
      races: {
        Aarakocra,
        Aasimar,
        Changeling,
        Dragonborn,
        Dwarf,
        Elf,
        Genasi,
        Gnome,
        Goliath,
        Halfling,
        Human,
        Lizardfolk,
        Minotaur,
        Orc,
        Shifter,
        Tiefling,
      },
    };
  },
};
</script>
<style lang="scss" scoped>
.content {
  margin-bottom: 0;

  ::v-deep {
    div {
      margin-top: 1rem;
    }

    p {
      -moz-hyphens: auto;
      hyphens: auto;
    }

    .gallery {
      font-size: 0;
      margin: 0 -0.25rem;

      figure {
        &:nth-child(3n + 1) {
          padding-left: 0.5rem;
          padding-right: 0.25rem;
        }

        &:nth-child(3n + 2) {
          padding-left: 0.25rem;
          padding-right: 0.25rem;
        }

        &:nth-child(3n + 3) {
          padding-left: 0.25rem;
          padding-right: 0.5rem;
        }

        width: 33.33%;
        margin-bottom: 0.5rem;
        height: 10rem;
        object-fit: cover;
        display: inline-block;
        cursor: pointer;
        position: relative;
        height: 0;
        padding-top: 45%;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        padding: 0 0.25rem;
        object-fit: cover;
      }
    }
  }

  &:not(:first-child) {
    h1 {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid black;
    }
  }
}
</style>
