<template>
  <div class="spells is-size-6">
    <h1 class="title">Spells</h1>
    <h2 class="subtitle">
      List of all available spells
    </h2>
    <b-field>
      <b-input
        icon="magnify"
        type="search"
        v-model="searchValue"
        placeholder="Search..."
      ></b-input>
      <p class="control">
        <span class="button is-static">Level</span>
      </p>
      <p class="control">
        <b-select v-model="levelFilter" placeholder="Level">
          <option :value="-1">Any</option>
          <option :value="0">
            Cantrip
          </option>
          <option :key="i" v-for="i in 9" :value="i">
            {{ i }}
          </option>
        </b-select>
      </p>
      <p class="control">
        <span class="button is-static">Class</span>
      </p>
      <p class="control">
        <b-select v-model="classFilter" placeholder="Class">
          <option :value="-1">Any</option>
          <option :key="c" v-for="c in classes" :value="c">
            {{ c }}
          </option>
        </b-select>
      </p>
      <p class="control">
        <span class="button is-static">School</span>
      </p>
      <p class="control">
        <b-select v-model="schoolFilter" placeholder="School">
          <option :value="-1">Any</option>
          <option :key="school" v-for="school in schools" :value="school">
            {{ school }}
          </option>
        </b-select>
      </p>
    </b-field>
    <b-table
      ref="spellTable"
      narrowed
      bordered
      hoverable
      striped
      detailed
      detail-key="name"
      :show-detail-icon="false"
      :mobile-cards="false"
      :data="sortedAndFilteredSpells"
      :row-class="getRowKey"
      :opened-detailed="openRows"
      @click="toggle"
      default-sort-direction="asc"
      default-sort="name"
    >
      <template slot-scope="props">
        <b-table-column field="name" label="Name" sortable>
          {{ props.row.name }}
        </b-table-column>
        <b-table-column field="level" label="Level" sortable>
          {{ props.row.level }}
        </b-table-column>
        <b-table-column field="castingTime" label="Casting Time" sortable>
          {{ props.row.castingTime }}
        </b-table-column>
        <b-table-column field="school" label="School" sortable>
          {{ props.row.school }}
        </b-table-column>
        <b-table-column field="concentration" label="Concentration" sortable>
          {{ booleanToString(props.row.concentration) }}
        </b-table-column>
        <b-table-column field="range" label="Range" sortable>
          {{ props.row.range }}
        </b-table-column>
      </template>
      <template slot="detail" slot-scope="props">
        <div class="content">
          <h2>{{ props.row.name }}</h2>
          <em v-if="props.row.level === 0">{{ props.row.school }} cantrip</em>
          <em v-else
            >{{ ordinal(props.row.level) }}-level
            {{ props.row.school.toLowerCase() }}
          </em>
          <table>
            <tbody>
              <tr>
                <th>Casting Time</th>
                <td>{{ props.row.castingTime }}</td>
              </tr>
              <tr>
                <th>Range</th>
                <td>{{ props.row.range }}</td>
              </tr>
              <tr>
                <th>Concentration</th>
                <td>{{ booleanToString(props.row.concentration) }}</td>
              </tr>
              <tr>
                <th>Duration</th>
                <td>{{ props.row.duration }}</td>
              </tr>
              <tr>
                <th>Components</th>
                <td>{{ props.row.components.join(", ") }}</td>
              </tr>
            </tbody>
          </table>
          <p :key="row" v-for="row in props.row.description">{{ row }}</p>
          <p :key="row" v-for="row in props.row.higherLevel">{{ row }}</p>
          <div
            v-if="props.row.markdown"
            v-html="marked(props.row.markdown)"
          ></div>

          <h3>Classes</h3>
          <ul>
            <li :key="c" v-for="c in props.row.classes">
              {{ c }}
            </li>
          </ul>
          <div v-if="props.row.subclasses.length > 0">
            <h3>Subclasses</h3>
            <ul>
              <li :key="c" v-for="c in props.row.subclasses">
                {{ c }}
              </li>
            </ul>
          </div>
        </div>
      </template>
      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"> </b-icon>
            </p>
            <p>There are no spells for these filters.</p>
          </div>
        </section>
      </template>
    </b-table>
  </div>
</template>

<script>
import spells from "../data/spells/spells.js";
import ordinal from "ordinal";
import marked from "../utilities/marked";
import _ from "lodash";

export default {
  name: "Spells",
  mounted() {
    const hash = location.hash.substr(1);

    if (hash) {
      for (const spell of spells) {
        if (hash == this.getRowKey(spell)) {
          this.$refs.spellTable.toggleDetails(spell);
          document.getElementsByClassName(hash)[0].scrollIntoView();
        }
      }
    }
  },
  methods: {
    getRowKey(value) {
      const name = value.name ? value.name : value;
      return name.replace(/ /g, "-").toLowerCase();
    },
    toggle(row) {
      for (const rowIndex in this.openRows) {
        if (this.getRowKey(this.openRows[rowIndex]) !== this.getRowKey(row)) {
          this.$refs.spellTable.closeDetailRow(rowIndex);
        }
      }

      this.$refs.spellTable.toggleDetails(row);
    },
    booleanToString(boolean) {
      if (boolean) {
        return "Yes";
      }

      return "No";
    },
    ordinal,
    marked,
  },

  data() {
    return {
      searchValue: "",
      levelFilter: -1,
      classFilter: -1,
      schoolFilter: -1,
      isConcentration: false,
      classes: [
        "Artificer",
        "Bard",
        "Cleric",
        "Druid",
        "Paladin",
        "Sorcerer",
        "Warlock",
        "Wizard",
      ],
      schools: [
        "Abjuration",
        "Conjuration",
        "Divination",
        "Enchantment",
        "Evocation",
        "Illusion",
        "Necromancy",
        "Transmutation",
      ],
      spells,
      openRows: [],
      columns: [
        {
          field: "name",
          label: "Name",
        },
        {
          field: "level",
          label: "Level",
          centered: true,
        },
        {
          field: "range",
          label: "Range",
        },
        {
          field: "duration",
          label: "Duration",
        },
      ],
    };
  },
  computed: {
    // return the sorted and filtered cards
    sortedAndFilteredSpells() {
      let filteredSpells = this.spells.filter((spell) => {
        return (
          spell.name.toLowerCase().indexOf(this.searchValue.toLowerCase()) >= 0
        );
      });

      if (this.levelFilter !== -1) {
        filteredSpells = filteredSpells.filter(
          (spell) => spell.level === this.levelFilter
        );
      }

      if (this.classFilter !== -1) {
        filteredSpells = filteredSpells.filter((spell) =>
          spell.classes.includes(this.classFilter)
        );
      }

      if (this.schoolFilter !== -1) {
        filteredSpells = filteredSpells.filter((spell) =>
          spell.school.includes(this.schoolFilter)
        );
      }

      return _.orderBy(filteredSpells, "name");
    },
  },
};
</script>

<style scoped lang="scss">
@media screen and (max-width: 769px) {
  .spells div.field.has-addons {
    flex-wrap: wrap;
    margin-bottom: 0;
    div.control {
      width: 100%;
      margin-bottom: 1rem;
      ::v-deep input.input {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}
</style>
