<template>
  <div id="app" class="is-size-6">
    <b-navbar shadow type="is-primary" wrapper-class="container">
      <template slot="brand">
        <b-navbar-item tag="router-link" to="/" title="D&amp;D Tools">
          <Logo />
          D&amp;D Tools
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-dropdown label="Player Options">
          <b-navbar-item tag="router-link" to="/classes">
            Classes
          </b-navbar-item>
          <b-navbar-item tag="router-link" to="/races">
            Races
          </b-navbar-item>
          <b-navbar-item tag="router-link" to="/feats">
            Feats
          </b-navbar-item>
        </b-navbar-dropdown>
        <b-navbar-dropdown label="Resources">
          <b-navbar-item tag="router-link" to="/spells">
            Spells
          </b-navbar-item>
          <b-navbar-item tag="router-link" to="/equipment">
            Equipment
          </b-navbar-item>
          <b-navbar-item tag="router-link" to="/items">
            Items
          </b-navbar-item>
        </b-navbar-dropdown>
      </template>
    </b-navbar>
    <div class="container">
      <main>
        <router-view />
      </main>
      <footer>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p>
                Created by
                <a
                  target="_blank"
                  rel="noreferrer noopener"
                  href="https://severinkaderli.ch"
                  >Severin Kaderli</a
                >
                &copy;2017–{{ currentYear }}
              </p>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">Version {{ version }}-{{ commitHash }}</div>
            <div class="level-item">
              <a
                target="_blank"
                rel="noreferrer noopener"
                href="https://gitlab.com/severinkaderli/dnd-tools"
                aria-label="GitLab"
              >
                <b-icon icon="gitlab"></b-icon>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
const version = VERSION;
const commitHash = COMMIT_HASH;

import Logo from "../public/img/icons/logo.svg";

export default {
  name: "App",
  components: {
    Logo,
  },
  data() {
    return {
      /**
       * The current version of the application.
       *
       * @var String
       */
      version,
      /**
       * The current commit hash.
       *
       * @var String
       */
      commitHash,
      /**
       * The current year.
       *
       * @var Number
       */
      currentYear: new Date().getFullYear(),
    };
  },
};
</script>

<style lang="scss">
$size-6: 0.8rem;
$primary: #3273dc;
$section-padding: 0 0 2rem;

@import "~@mdi/font/css/materialdesignicons.min.css";
@import "~bulma";
@import "~buefy/src/scss/buefy";

.b-tabs .tab-content {
  padding: 1rem 0;
}

.b-tabs .tabs.is-toggle {
  font-size: 0.7rem;
  font-weight: bold;
  ul {
    li {
      a {
        padding: 0.5rem 0.25rem;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .b-tabs .tabs.is-toggle {
    ul {
      li {
        flex: 1;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .b-tabs .tabs.is-toggle {
    ul {
      width: 100%;
      flex-wrap: wrap;

      li {
        width: 25%;

        a {
          border-radius: 0;
        }

        & + li {
          margin-left: 0;
        }
      }
    }
  }
}

.container {
  padding: 0 1rem;
}

hr {
  margin: 1rem 0;
}

svg {
  width: 32px;
  height: 32px;
}

.modal .modal-content {
  max-height: calc(100vh - 2rem);
  width: auto !important;
  > div {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

nav svg {
  fill: white;
  align-self: center;
  margin-right: 0.5rem;
}

@media screen and (max-width: 1024px) {
  nav .container {
    padding: 0;
  }
}

summary {
  cursor: pointer;
  outline: none;
}

details > *:not(summary) {
  padding-left: 1rem;
}

main {
  margin-top: 1rem;
}

footer {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.content {
  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}

table .content {
  table {
    width: auto;
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 0;
  }

  h2 + em {
    display: block;
    margin-bottom: 1rem;
  }
}
</style>
